// Core Colours
$color__white: #FFFFFF;
$color__black: #040B0D;
$color__error: #FF0000;
$color__text-screen: #21759b;
$color__background-screen: #f1f1f1;

//Theme Palette
$color__dark-green: #09373E;
$color__pale-green: #BFD6D9;
$color__dark-black: #0F1617;
$color__darkest-black: #040606;
$color__teal: #007373;

$color__normal: #7E1DE0;
$color__heroic: #C37004;

$color__rogue: #E2E247;
$color__paladin: #FF8AD7;
$color__mage: #43C0FF;
$color__deathknight: #FF2E51;
$color__shaman: #4550EE;
$color__warlock: #9463EB;
$color__druid: #FF6F00;
$color__priest: #FFD5F1;
$color__warrior: #8B5733; 
$color__hunter: #2DA131;