.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  z-index: 999;

  .wrapper {
    background: transparentize($color__dark-green, 0.9);
    backdrop-filter: brightness(63%) blur(5px);
    // mix-blend-mode: overlay;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      display: block;
    }
  }
}
