a, a:visited {
  display: inline-block;
  color: $color__black;
  text-decoration: none;
  @include transition(0.3s);
  position: relative;

  .fas {
    @include transition(0.3s)
  }

  &:hover {
    cursor: pointer;
  }
}

button, a.button {
  background: $color__teal;
  border-radius: 8px;
  padding: 12px 24px;
  color: $color__pale-green;
  text-transform: uppercase;
  font-weight: bold;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
