//Normalize
@import "normalize";

@import "clearings";

@import "alignments";

@import "accessibility";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: inherit
  }
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%
}

body {
  font-family: $font-fam__body;
  font-weight: $font-weight__base;
  color: $color__pale-green;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 16px;
  background: $color__black;
}

.rogue {
  color: $color__rogue;
}

.paladin {
  color: $color__paladin;
}

.mage {
  color: $color__mage;
}

.deathknight {
  color: $color__deathknight;
}

.shaman {
  color: $color__shaman;
}

.warlock {
  color: $color__warlock;
}

.druid {
  color: $color__druid;
}

.priest {
  color: $color__priest;
}

.warrior {
  color: $color__warrior;
}

.hunter {
  color: $color__hunter;
}

@import "structure";
